li {
  list-style: none;
}

a {
  text-decoration: none;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header__list{
    display: flex;
    gap: 20px;
    padding: 0;
}


.header__link{
    color: white;
    font-weight: 600;
}

.header__link.active{
    color: var(--primary-color);
}