/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result p {
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 8px 10px;
  width: 311px;
}
.result button {
  padding: 6px 10px;
  color: #fff;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}
.result button.copied {
  background: #fff;
  color: var(--primary-color);
}
.noData {
  color: #fff;
  font-size: 15px;
}


@media (max-width: 500px) {
  .result button {
    padding: 4.6px 10px;
  }
}
